@font-face{
    font-family: 'Mobin';
    src: url('../fonts/aviny.woff') format('woff');
}
* {
    font-family: 'sans' !important;
    text-decoration: none !important;
    list-style: none !important;
}

body{
    margin: 0;
    direction: rtl;
    background-color: #cccccc;
    font-family: 'Mobin';
}

.header{
    width: 100%;
    height: 120px;
    background-color: white;
}

#logo {
    width: 114px;
    height: 100px;
    padding-right: 25px;
    float: right;
}

#logo img{
    width: 114px;
    height: 100px;
}

#singup {
    width: 200px;
    height: 100px;
    float: left;
    text-decoration: none;

}
ul{

    list-style-type: none;
}
#singup img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 25px 10px;
}

#singup a{
    text-decoration: none;
    color: black;
    text-align: center;
    padding-left: 25px;
}

#singup a:hover{
    color: red;
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.welcome{
    width: auto;
    height: 385px;
    background-image: url('../img/back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.posts{
    margin-top: 20px;
    float: right;
}

.footer{
    width: 100%;
    height: auto;
    margin-top: 0px;

}

.footer h3 {
    text-align: center;
    color: white;
}
.menu-bottom{
    background: #ffffff;
    margin-top: -20px;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 5px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.textcheckbox{
    font-size: 14px;
    margin-right: 34px;
}

.btn-file{
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.btn-file input[type=file]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: center;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}